.navbar{
    background:rgba(255, 255, 255, 1);
    box-shadow: 0 1px 4px 0 #0000001a;
    box-sizing: border-box;
    /* position: fixed; */
    width: 100%;
    display: flex;
    align-items: center;
   justify-content: space-evenly;
   padding: 8px 0;
}
.nav-inputs{
    display: flex;
    gap: 1rem;
    
}
.nav-input1{
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid black;
    height: 45px;
    width: 250px;
    background-color: white;
    padding: 0 8px;
    border-radius: 5px;
}
.nav-input1 input{
    border: none;
    outline: none;
    width: 100%;
}
.nav-input1 button{
    background-color: transparent;
    border: none
}
.nav-input1 svg{
    height: 15px;
    width: 15px;
}
.nav-input2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    border: 1px solid black;
    height: 45px;
    min-width: 430px;
    background-color: white;
    padding: 0 0 0  8px;
   
}
.nav-input2 input{
    border: none;
    outline: none;
    width: 100%;
}
.nav-input2 button{
    background-color:black;
    height: 45px;
    cursor: pointer;
}
/*  */
.nav-input2 svg{
    color: whitesmoke;
}
/*  */


.nav-text{
    display: flex;
    align-items: center;
   
    width:80px;
  
}
.nav-text button{
    background-color: transparent;
    border: none
}
.nav-text svg{
    height: 20px;
    width: 20px;
}
.nav-icons{
    display: flex;
    align-items: center;
    
    
    gap: 10px;
}

.nav-icon button{
    background-color: transparent;
    border: none
}
.nav-icon svg{
    height: 25px;
    width: 25px;
}
.nav-profile{
    display: flex;
    align-items: center;
    gap: 5px;
}
.nav-profile button{
    background-color: transparent;
    border: none
}
.nav-profile img{
    height: 40px;
    width: 40px;
    border-radius: 30px;
}
.nav-sell-btn{
    border: 2px solid yellowgreen;
 border-radius:20px;
 width: 60px;

 padding: 5px 8px;
}
.nav-sell-btn span{
   
    align-items: center;
 
    
    font-size: 14px;
    font-weight: 700;
   
    letter-spacing: .5px;
  
    text-transform: uppercase;

}
@media screen and (max-width:1050px){
    .nav-icons{
        display: none;
    }
}

@media screen and (max-width:800px){
    
    .navbar{
       
        padding:8px;
        justify-content: space-evenly;
    }

    .nav-input2,.nav-text,.nav-icons{
        display: none;
    }
   

    .nav-input1{
    
        border: 1px solid black;
        height: 35px;
        min-width: 150px;
     
      
    }
    
    .nav-logo svg{
        height: 35px;
        width: 35px;
  
    }
  
}